table {
    width: 100%;
}

:root {
    --ig-status-text-color: #23238E; /* 1. IG Title and status text color */
    --navbar-bg-color: #23238E; /* 2. Header container color */
    --footer-bg-color: #707070; /* 3. Footer background color*/
    --footer-container-bg-color: #23238E; /* 4. Footer container color */
    --stripe-bg-color: #999999; /* 5. Header strip color */
}