.table {
    width: 100%;
}
.markdown-toc { 
    width: 350px !important;  
}
#ig-status {
    color: white;
    background-color: #23238E;
    margin-top: 0px;
    text-align: right;
    padding-right: 10px;
    padding-top: 15px;
}

#title {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10000;
    color: white;
    font-size: 200%;
    padding-left: 10px;
}
#mitre {
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 10000;
    color: white;
    font-size: 200%;
    padding-left: 10px;
}
:root {
    --navbar-bg-color: #23238E; /* 2. Header container color */
    --footer-container-bg-color: #23238E; /* 4. Footer container color */
}