---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Composition' id='Diagnostic-Imaging-Report-Example' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Composition/Diagnostic-Imaging-Report-Example - Change History</h2>
  <p>History of changes for Diagnostic-Imaging-Report-Example {{type | downcase}}.</p>

  {%include Composition-Diagnostic-Imaging-Report-Example-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
