---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Device' id='DeviceExample' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Device/DeviceExample - Change History</h2>
  <p>History of changes for DeviceExample {{type | downcase}}.</p>

  {%include Device-DeviceExample-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
