---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='MedicationStatement' id='medication-statement' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: MedicationStatement/medication-statement - Change History</h2>
  <p>History of changes for medication-statement {{type | downcase}}.</p>

  {%include MedicationStatement-medication-statement-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
