---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Practitioner' id='PractitionerExample' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Practitioner/PractitionerExample - Change History</h2>
  <p>History of changes for PractitionerExample {{type | downcase}}.</p>

  {%include Practitioner-PractitionerExample-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
