---
---
<!-- get modelType -->
{% include fragment-modelType.html id='MyGoal' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='MyGoal' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: MyGoal - Change History</h2>
{% include fragment-simpletable.html %}
  <p>Changes in the MyGoal {{modelType | downcase}}.</p>

  {%include StructureDefinition-MyGoal-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
