---
---
<!-- get modelType -->
{% include fragment-modelType.html id='MyCondition' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='MyCondition' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: MyCondition - Change History</h2>
  <p>Changes in the MyCondition {{modelType | downcase}}.</p>

  {%include StructureDefinition-MyCondition-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
